{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
<section>
		<div class="feature-photo">
					{% include 'profile/profile_button_background.html' %}
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h5>{{ profile.first_name }} {{ profile.last_name }}</h5>
								  <span>@{{ profile.slug }}</span>
								</li>
								<li>
									<a class="" href="{{ profile.get_absolute_url }}" title="" data-ripple="">Wall</a>
									<a class="" href="{% url 'profiles:profile-friends' slug=profile.slug %}" title="" data-ripple="">Friends</a>
									<a class="" href="{% url 'profiles:profile-groups' slug=profile.slug %}" title="" data-ripple="">Groups</a>
									<a class="active" href="{% url 'profiles:update-info' slug=profile.slug %}" title="" data-ripple="">Edit profile</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->

	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
											<h4 class="widget-title">Socials</h4>
											<ul class="socials">
												<li class="facebook">
													<a title="" href="#"><i class="fa fa-facebook"></i> <span>facebook</span> <ins>45 likes</ins></a>
												</li>
												<li class="twitter">
													<a title="" href="#"><i class="fa fa-twitter"></i> <span>twitter</span><ins>25 likes</ins></a>
												</li>
												<li class="google">
													<a title="" href="#"><i class="fa fa-google"></i> <span>google</span><ins>35 likes</ins></a>
												</li>
											</ul>
										</div>

									{% include 'shortcuts.html' %} <!-- Shortcuts -->

									<div class="widget">
										<h4 class="widget-title">Recent Activity</h4>
										<ul class="activitiez">
											<li>
												<div class="activity-meta">
													<i>10 hours Ago</i>
													<span><a href="#" title="">Commented on Video posted </a></span>
													<h6>by <a href="newsfeed.html">black demon.</a></h6>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>30 Days Ago</i>
													<span><a href="newsfeed.html" title="">Posted your status. “Hello guys, how are you?”</a></span>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													<i>2 Years Ago</i>
													<span><a href="#" title="">Share a video on her timeline.</a></span>
													<h6>"<a href="newsfeed.html">you are so funny mr.been.</a>"</h6>
												</div>
											</li>
										</ul>
									</div><!-- recent activites -->
									<div class="widget stick-widget">
										<h4 class="widget-title">Who's follownig</h4>
										<ul class="followers">
											<li>
												<figure><img src="images/resources/friend-avatar2.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Kelly Bill</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="images/resources/friend-avatar4.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Issabel</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="images/resources/friend-avatar6.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Andrew</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="images/resources/friend-avatar8.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Sophia</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
											<li>
												<figure><img src="images/resources/friend-avatar3.jpg" alt=""></figure>
												<div class="friend-meta">
													<h4><a href="time-line.html" title="">Allen</a></h4>
													<a href="#" title="" class="underline">Add Friend</a>
												</div>
											</li>
										</ul>
									</div><!-- who's following -->
								</aside>
							</div><!-- sidebar -->

							<div class="col-lg-6">
								<div class="central-meta">
									<div class="editing-info">
										<h5 class="f-title"><i class="ti-info-alt"></i> Edit profile</h5>

										<form action="{% url 'profiles:update-info' slug=profile.slug %}" method="post">
											{% csrf_token %}
											<div class="form-group half">
											  {{ form.first_name }}
											  <label class="control-label" for="input">First name</label><i class="mtrl-select"></i>
											</div>
											<div class="form-group half">
											  {{ form.last_name }}
											  <label class="control-label" for="input">Last name</label><i class="mtrl-select"></i>
											</div>
											<p class="info-title">Date of birth</p>
											<div class="dob">
												{% for date in form.date_birth %}
												<div class="form-group custom-date" style="width: 850px; display: flex;">
													{{ date }}
												</div>
												{% endfor %}
											</div>
											<div class="form-radio">
												{% for radio in form.gender %}
											  <div class="radio">
												<label>
												  {{ radio.tag }} <i class="check-box"></i> {{ radio.choice_label }}
												</label>
											  </div>
												{% endfor %}
											</div>
											<p class="info-title" style="padding-top: 10px;">Country</p>
											{{ form.country }}
											<div class="form-group">
												{{ form.about }}
											  <label class="control-label" style="padding-top: 10px;" for="textarea">About me:</label><i class="mtrl-select"></i>
											</div>
											<div class="submit-btns">
												<button type="submit" class="mtr-btn"><span>Update</span></button>
												<input type="hidden" name="profile_slug" value="{{ profile.slug }}">
											</div>
										</form>
									</div>
								</div>
							</div><!-- centerl meta -->

							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget friend-list stick-widget">
										<h4 class="widget-title">Friends</h4>
										<div id="searchDir"></div>
										<ul id="people-list" class="friendz-list">
											{% for friend in profile.get_friends_list %}
											<li>
												<figure>
													<a href="#"><img src="{{ friend.avatar.url }}" alt=""></a>
													<span class="status f-online"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">{{ friend.first_name }} {{ friend.last_name }}</a>
													<i><a href="{{ friend.get_absolute_url }}">@{{ friend.user }}</a></i>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div><!-- friends list sidebar -->
								</aside>
							</div><!-- sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% if request.user == profile.user %}
<!--modal change background-->
<div id="changeBackground" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Upload background</h4>
			</div>
			<form action="{% url 'profiles:update-avatar' slug=profile.slug %}" method="post" enctype="multipart/form-data">
			<div class="modal-body">
					{% csrf_token %}
					{{ form_ab.background }}
				<input type="hidden" name="profile_slug" value="{{ profile.slug }}">
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Save</button>
				<button class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
				</form>
		</div>
	</div>
</div>

<!--modal change avatar-->
<div id="changeAvatar" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Upload avatar</h4>
			</div>
			<form action="{% url 'profiles:update-avatar' slug=profile.slug %}" method="post" enctype="multipart/form-data">
			<div class="modal-body">
					{% csrf_token %}
					{{ form_ab.avatar }}
				<input type="hidden" name="profile_slug" value="{{ profile.slug }}">
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Save</button>
				<button class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
				</form>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}
