{% extends 'base.html' %}

{% block title %}Friends{% endblock title %}

{% block content %}
<section>
	<div class="feature-photo">
		{% include 'profile/profile_button_background.html' %}
		<div class="col-lg-10 col-sm-9">
			<div class="timeline-info">
				<ul>
					<li class="admin-name">
						<h5>{{ profile.first_name }} {{ profile.last_name }}</h5>
						<span>@{{ profile.slug }}</span>
					</li>
					<li>
						<a class="" href="{{ profile.get_absolute_url }}" title="" data-ripple="">Wall</a>
						<a class="active" href="{% url 'profiles:profile-friends' slug=profile.slug %}" title="" data-ripple="">Friends</a>
						<a class="" href="{% url 'profiles:profile-groups' slug=profile.slug %}" title="" data-ripple="">Groups</a>
						{% if request.user == profile.user %}
						<a class="" href="{% url 'profiles:update-info' slug=profile.slug %}" title="" data-ripple="">Edit profile</a>
						{% endif %}
					</li>
				</ul>
			</div>
		</div>
	</div>
</section><!-- top area -->

<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="row" id="page-contents">
						<div class="col-lg-3">
							<aside class="sidebar static">
								{% include 'profile/information.html' %}
								{% if not request.user.is_anonymous %}
								{% include 'shortcuts.html' %} <!-- Shortcuts -->
								{% endif %}
							</aside>
						</div><!-- sidebar -->

						<div class="col-lg-6">
							<div class="central-meta">
								<div class="frnds">
									<ul class="nav nav-tabs">
										<li class="nav-item">
											<a class="active" href="#frends" data-toggle="tab">
												{% if request.user.profile.slug == profile.slug %}
												My Friends
												{% else %}
												Friends
												{% endif %}
											</a>
											<span>{{ profile.get_friends_list.count }}</span>
										</li>
										{% if request.user == profile.user %}
										<li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Friend Requests</a><span>{{ profile.get_friends_request|length }}</span></li>
										{% endif %}
									</ul>

									<!-- Tab panes -->
									<div class="tab-content">
										<div class="tab-pane active fade show " id="frends" >
											<ul class="nearby-contct">
												{% for friend in profile.get_friends_list %}
												<li>
													<div class="nearly-pepls">
														<figure>
															<a href="{{ friend.get_absolute_url }}" title=""><img src="{{ friend.avatar.url }}" alt=""></a>
														</figure>
														<div class="pepl-info">
															<h4><a href="{{ friend.get_absolute_url }}" title="">{{ friend.first_name }} {{ friend.last_name }}</a></h4>
															{% if request.user.profile == profile %}
															<form action="{% url 'profiles:delete-friend' %}" method="post">
																{% csrf_token %}
																<button type="submit" class="add-butn" >Delete</button>
																<input type="hidden" name="profile" value="{{ friend.id }}">
																<input type="hidden" name="friend-page" value="friend-page">
															</form>
															{% endif %}
														</div>
													</div>
												</li>
												{% endfor %}
											</ul>
											<div class="lodmore"><button class="btn-view btn-load-more"></button></div>
										</div>
										{% if request.user == profile.user %}
										<div class="tab-pane fade" id="frends-req" >
											<ul class="nearby-contct">
												{% for sender in profile.get_friends_request %}
												<li>
													<div class="nearly-pepls">
														<figure>
															<a href="{{ sender.get_absolute_url }}" title=""><img src="{{ sender.avatar.url }}" alt=""></a>
														</figure>
														<div class="pepl-info">
															<h4><a href="{{ sender.get_absolute_url }}" title="">{{ sender.first_name }} {{ sender.last_name }}</a></h4>

															<form action="{% url 'profiles:accept-friend' %}" method="post">
																{% csrf_token %}
																<button type="submit" class="add-butn more-action">Decline</button>
																<input type="hidden" name="delete_request" value="delete_request">
																<input type="hidden" name="friend-page" value="friend-page">
																<input type="hidden" name="profile_sender" value="{{ sender.id }}">
															</form>

															<form action="{% url 'profiles:accept-friend' %}" method="post">
																{% csrf_token %}
																<button type="submit" class="add-butn">Accept</button>
																<input type="hidden" name="accept_request" value="accept_request">
																<input type="hidden" name="friend-page" value="friend-page">
																<input type="hidden" name="profile_sender" value="{{ sender.id }}">
															</form>

														</div>
													</div>
												</li>
												{% endfor %}
											</ul>
											<button class="btn-view btn-load-more"></button>
										</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div><!-- centerl meta -->

						<div class="col-lg-3">
							<aside class="sidebar static">
								{% include 'profile/friends_sidebar.html' %}
							</aside>
						</div><!-- sidebar -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% if request.user == profile.user %}
<!--modal change background-->
<div id="changeBackground" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Upload background</h4>
			</div>
			<form action="{% url 'profiles:update-avatar' slug=profile.slug %}" method="post" enctype="multipart/form-data">
				<div class="modal-body">
					{% csrf_token %}
					{{ form_ab.background }}
					<input type="hidden" name="profile_slug" value="{{ profile.slug }}">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Save</button>
					<button class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!--modal change avatar-->
<div id="changeAvatar" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Upload avatar</h4>
			</div>
			<form action="{% url 'profiles:update-avatar' slug=profile.slug %}" method="post" enctype="multipart/form-data">
				<div class="modal-body">
					{% csrf_token %}
					{{ form_ab.avatar }}
					<input type="hidden" name="profile_slug" value="{{ profile.slug }}">
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Save</button>
					<button class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}