{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}
<section>
		<div class="feature-photo">
			{% include 'profile/profile_button_background.html' %}
			{% if request.user.profile != profile and request.user.is_anonymous != True %}
			<form action="{% url 'chat:create-dialog' %}" method="post">
				{% csrf_token %}
			<div class="add-btn" style="margin-right: 140px;">
        		<button type="submit">Send message</button>
				<input type="hidden" name="profile_id" value="{{ profile.id }}">
    		</div>
			</form>
			{% endif %}
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h5>{{ profile.first_name }} {{ profile.last_name }}</h5>
								  <span>@{{ profile.slug }}</span>
								</li>
								<li>
									<a class="active" href="{{ profile.get_absolute_url }}" title="" data-ripple="">Wall</a>
									<a class="" href="{% url 'profiles:profile-friends' slug=profile.slug %}" title="" data-ripple="">Friends</a>
									<a class="" href="{% url 'profiles:profile-groups' slug=profile.slug %}" title="" data-ripple="">Groups</a>
									{% if request.user == profile.user %}
									<a class="" href="{% url 'profiles:update-info' slug=profile.slug %}" title="" data-ripple="">Edit profile</a>
									{% endif %}
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->

	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									{% include 'profile/information.html' %}
									{% if not request.user.is_anonymous %}
									{% include 'shortcuts.html' %} <!-- Shortcuts -->
									{% endif %}
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="loadMore">
									{% if request.user.profile.slug == profile.slug %}
									<div class="central-meta item">
										<div class="new-postbox">
											<figure>
												<img src="{{ profile.avatar.url }}" alt="">
											</figure>
											<div class="newpst-input">
												<form action="{% url 'posts:form-create' %}" method="post" enctype="multipart/form-data">
													{% csrf_token %}
													{{ form_post.text }}
													<div class="attachments">
														<ul>
															<li>
																<i class="fa fa-image"></i>
																<label class="fileContainer">
																	{{ form_post.image }}
																</label>
															</li>
															<li>
																<i class="fa fa-video-camera"></i>
																<label class="fileContainer">
																	{{ form_post.video }}
																</label>
															</li>
															<li>
																<button type="submit">Publish</button>
															</li>
														</ul>
													</div>
												</form>
											</div>
										</div>
									</div><!-- add post new box -->
									{% endif %}

									{% if profile.post.count == 0 %}
									<h4 class="text-center">User has no posts</h4>
									{% endif %}

									{% for post in posts %}
									<div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="{{ post.author.avatar.url }}" alt="">
												</figure>
												<div class="friend-name ">
													<ins>
														<a href="time-line.html" title="">{{ post.author.first_name }} {{ post.author.last_name }}</a>
													</ins>
													<span>{{ post.created_date }}</span>
													{% if request.user.profile == post.author %}
													<form action="{% url 'posts:post-delete' pk=post.pk %}" method="post" class="delete-btn">
														{% csrf_token %}
														<button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
													</form>
													{% endif %}
												</div>
												<div class="post-meta">
													{% if post.image %}
													<img src="{{ post.image.url }}" alt="">
													{% endif %}
													<div class="we-video-info">
														<ul>
															<li>
																<form action="{% url 'posts:post-like' %}" method="post">
																	{% csrf_token %}
																<span class="like" data-toggle="tooltip" title="like">
																		<i class="ti-heart icon-custom"><button type="submit" class="btn-custom"></button></i>
																	<input type="hidden" name="post_id" value="{{ post.id }}">
																	<ins>{{ post.liked.count }}</ins>
																</span>
																	</form>
															</li>
															<li>
																<form action="{% url 'posts:post-dislike' %}" method="post">
																	{% csrf_token %}
																<span class="dislike" data-toggle="tooltip" title="dislike">
																	<i class="ti-heart-broken icon-custom"><button type="submit" class="btn-custom"></button></i>
																	<input type="hidden" name="post_id" value="{{ post.id }}">
																	<ins>{{ post.disliked.count }}</ins>
																</span>
																</form>
															</li>
															<li>
																<span class="comment" data-toggle="tooltip" title="Comments">
																	<i class="fa fa-comments-o"></i>
																	<ins>{{ post.comments.count }}</ins>
																</span>
															</li>
														</ul>
													</div>
													<div class="description">
														<p>
															{{ post.text }}
														</p>
													</div>
												</div>
											</div>
											<div class="coment-area">
												<ul class="we-comet">
													{% for comment in post.get_comments_post %}
													<li>
														<div class="comet-avatar">
															<img src="{{ comment.author.avatar.url }}" alt="">
														</div>
														<div class="we-comment">
															<div class="coment-head">
																<h5><a href="{{ comment.author.get_absolute_url }}" title="">{{ comment.author.first_name }} {{ comment.author.last_name }}</a></h5>
																<span>{{ comment.created_date }}</span>
																{% if request.user.profile == comment.author %}
																	<i class="bi bi-x-circle delete-com-g icon-custom">
																		<form action="{% url 'posts:comment-delete' %}" method="post">
																			{% csrf_token %}
																			<button type="submit" class="btn-custom"></button>
																			<input type="hidden" name="comment_id" value="{{ comment.id }}">
																		</form>
																	</i>
																{% endif %}
															</div>
															<p>{{ comment.text }}</p>
														</div>
													</li>
													{% endfor %}
													<li>
														<a href="#" title="" class="showmore underline">more comments</a>
													</li>
													<li class="post-comment">
														<div class="comet-avatar">
															<img src="images/resources/comet-1.jpg" alt="">
														</div>
														<div class="post-comt-box">
															{% if request.user.is_authenticated %}
															<form action="{% url 'posts:comment-create' %}" method="post">
																{% csrf_token %}
																{{ form_comment.text }}
																<input type="hidden" name="post_id" value="{{ post.id }}">
																<button type="submit">Review</button>
															</form>
															{% endif %}
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									{% include 'profile/friends_sidebar.html' %}
								</aside>
							</div><!-- sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% if request.user == profile.user %}
<!--modal change background-->
<div id="changeBackground" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Upload background</h4>
			</div>
			<form action="{% url 'profiles:update-avatar' slug=profile.slug %}" method="post" enctype="multipart/form-data">
			<div class="modal-body">
					{% csrf_token %}
					{{ form_ab.background }}
				<input type="hidden" name="profile_slug" value="{{ profile.slug }}">
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Save</button>
				<button class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
				</form>
		</div>
	</div>
</div>

<!--modal change avatar-->
<div id="changeAvatar" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Upload avatar</h4>
			</div>
			<form action="{% url 'profiles:update-avatar' slug=profile.slug %}" method="post" enctype="multipart/form-data">
			<div class="modal-body">
					{% csrf_token %}
					{{ form_ab.avatar }}
				<input type="hidden" name="profile_slug" value="{{ profile.slug }}">
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Save</button>
				<button class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
				</form>
		</div>
	</div>
</div>
{% endif %}
{% endblock content %}
