<figure><img src="{{ profile.background.url }}" alt=""></figure>
{% if friend_request %}
<form action="{% url 'profiles:accept-friend' %}" method="post">
    {% csrf_token %}
    <div class="add-btn">
        <button type="submit">Accept request</button>
        <input type="hidden" name="profile_sender" value="{{ profile.id }}">
    </div>
</form>
{% endif %}
{% if receiver == 'not receiver' and friend_request == False %}
<form action="{% url 'profiles:cancel-or-send-friend-request' %}" method="post">
    {% csrf_token %}
    <div class="add-btn">
        <button type="submit">Add Friend</button>
        <input type="hidden" name="receiver_id" value="{{ profile.id }}">
    </div>
</form>
{% elif receiver == 'receiver' %}
<form action="{% url 'profiles:cancel-or-send-friend-request' %}" method="post">
    {% csrf_token %}
    <div class="add-btn">
        <button type="submit">Cancel Request</button>
        <input type="hidden" name="receiver_id" value="{{ profile.id }}">
    </div>
</form>
{% elif request.user in profile.friends.all %}
<form action="{% url 'profiles:delete-friend' %}" method="post">
    {% csrf_token %}
    <div class="add-btn">
        <button type="submit">Delete friend</button>
        <input type="hidden" name="profile" value="{{ profile.id }}">
    </div>
</form>
{% endif %}
{% if request.user == profile.user %}
<div class="edit-phto">
    <i class="fa fa-camera-retro"></i>
    <label class="fileContainer" data-toggle="modal" data-target="#changeBackground">
        Edit Cover Photo
    </label>
</div>
{% endif %}
<div class="container-fluid">
    <div class="row merged">
        <div class="col-lg-2 col-sm-3" >
            <div class="user-avatar">
                <figure>
                    <img src="{{ profile.avatar.url }}" alt="">
                    {% if request.user == profile.user %}
                    <div class="edit-phto">
                        <i class="fa fa-camera-retro"></i>
                        <label class="fileContainer" data-toggle="modal" data-target="#changeAvatar">
                            Edit Display Photo
                        </label>
                    </div>
                    {% endif %}
                </figure>
            </div>
        </div>