{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% load i18n %}

{% block content %}
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Winku</h1>
						<p>
							Winku is free to use for as long as you want with two active projects.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Login</h2>
						<form method="post" action="{% url 'account_login' %}">
							{% csrf_token %}
							<div class="form-group">	
							  {{ form.login }}
							  <label class="control-label" for="input">{{ form.login.label }}</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  {{ form.password }}
							  <label class="control-label" for="login_input_password">{{ form.password.label }}</label><i class="mtrl-select"></i>
							</div>
							{% if redirect_field_value %}
      						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      						{% endif %}
							<a href="{% url 'account_reset_password' %}" class="forgot-pwd">Forgot Password?</a>
							<div class="submit-btns">
								<button class="mtr-btn" type="submit"><span>Login</span></button>
								<a href="{{ signup_url }}"><button class="mtr-btn" type="button"><span>Registration</span></button></a>
							</div>
							{% if form.errors %}
								{% for field in form %}
                					{% for error in field.errors %}
										<div class="alert alert-danger mt-2">
											<strong>{{ error|escape }}</strong>
										</div>
                					{% endfor %}
            					{% endfor %}
            					{% for error in form.non_field_errors %}
									<div class="alert alert-danger mt-2">
										<strong>{{ error|escape }}</strong>
									</div>
           						 {% endfor %}
        					{% endif %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
