{% extends 'base.html' %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Winku</h1>
						<p>
							Winku is free to use for as long as you want with two active projects.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Reset Password</h2>
                        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
						<form method="post" action="{% url 'account_reset_password' %}">
							{% csrf_token %}
							<div class="form-group">
							  {{ form.email }}
							  <label class="control-label" for="input"></label><i class="mtrl-select"></i>
							</div>
							<div class="submit-btns">
								<button class="mtr-btn" type="submit"><span>Reset My Password</span></button>
							</div>
							{% if form.errors %}
								{% for field in form %}
                					{% for error in field.errors %}
										<div class="alert alert-danger mt-2">
											<strong>{{ error|escape }}</strong>
										</div>
                					{% endfor %}
            					{% endfor %}
            					{% for error in form.non_field_errors %}
									<div class="alert alert-danger mt-2">
										<strong>{{ error|escape }}</strong>
									</div>
           						 {% endfor %}
        					{% endif %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}