{% extends 'base.html' %}

{% block title %}Registration{% endblock title %}

{% load i18n %}

{% block content %}
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>Winku</h1>
						<p>
							Winku is free to use for as long as you want with two active projects.
						</p>
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area">
						<h2 class="log-title">Register</h2>
						<a style="color:#088dcd" href="{{ login_url }}">Have account?</a>
						<form method="post" action="{% url 'account_signup' %}">
							{% csrf_token %}
							<div class="form-group">	
							  {{ form.first_name }}
							  <label class="control-label" for="signup_input_first_name">{{ form.first_name.label }}</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  {{ form.last_name }}
							  <label class="control-label" for="signup_input_last_name">{{ form.last_name.label }}</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  {{ form.username }}
							  <label class="control-label" for="input">{{ form.username.label }}</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  {{ form.email }}
							  <label class="control-label" for="input">{{ form.email.label }}</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  {{ form.password1 }}
							  <label class="control-label" for="input">{{ form.password1.label }}</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">	
							  {{ form.password2 }}
							  <label class="control-label" for="input">{{ form.password2.label }}</label><i class="mtrl-select"></i>
							</div>
							{% if redirect_field_value %}
      						<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      						{% endif %}
							<div class="submit-btns">
								<button class="mtr-btn" type="submit"><span>Registration</span></button>
							</div>
							{% if form.errors %}
								{% for field in form %}
                					{% for error in field.errors %}
										<div class="alert alert-danger mt-2">
											<strong>{{ error|escape }}</strong>
										</div>
                					{% endfor %}
            					{% endfor %}
            					{% for error in form.non_field_errors %}
									<div class="alert alert-danger mt-2">
										<strong>{{ error|escape }}</strong>
									</div>
           						 {% endfor %}
        					{% endif %}
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
