{% extends 'base.html' %}

{% block title %}Profile{% endblock title %}

{% block content %}

<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">

							<div class="col-lg-3">
								<aside class="sidebar static">
									{% include 'shortcuts.html' %}
								</aside>
							</div><!-- sidebar -->

							<div class="col-lg-6">
								<div class="central-meta item">
										<div class="new-postbox">
											<figure>
												<img src="{{ profile.avatar.url }}" alt="">
											</figure>
											<div class="newpst-input">
												<form action="{% url 'posts:form-create' %}" method="post" enctype="multipart/form-data">
													{% csrf_token %}
													{{ form_post.text }}
													<div class="attachments">
														<ul>
															<li>
																<i class="fa fa-image"></i>
																<label class="fileContainer">
																	{{ form_post.image }}
																</label>
															</li>
															<li>
																<i class="fa fa-video-camera"></i>
																<label class="fileContainer">
																	{{ form_post.video }}
																</label>
															</li>
															<li>
																<input type="hidden" name="feed" value="feed">
																<button type="submit">Publish</button>
															</li>
														</ul>
													</div>
												</form>
											</div>
										</div>
									</div><!-- add post new box -->
								<div class="loadMore">

								{% for post in posts %}
								<div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												{% if post.group is None %}
												<figure>
													<img src="{{ post.author.avatar.url }}" alt="">
												</figure>
												{% else %}
												<figure>
													<img src="{{ post.group.avatar.url }}" alt="">
												</figure>
												{% endif %}
												<div class="friend-name ">
													{% if post.group is None %}
													<ins>
														<a href="time-line.html" title="">{{ post.author.first_name }} {{ post.author.last_name }}</a>
													</ins>
													{% else %}
													<ins>
														<a href="time-line.html" title="">{{ post.group.name }}</a>
													</ins>
													{% endif %}
													<span>{{ post.created_date }}</span>
													{% if request.user.profile == post.author and post.group == None %}
													<form action="{% url 'posts:post-delete' pk=post.pk %}" method="post" class="delete-btn">
														{% csrf_token %}
														<button type="submit" class="btn btn-outline-danger btn-sm">Delete</button>
														<input type="hidden" name="feed" value="feed">
													</form>
													{% endif %}
												</div>
												<div class="post-meta">
													{% if post.image %}
													<img src="{{ post.image.url }}" alt="">
													{% endif %}
													<div class="we-video-info">
														<ul>
															<li>
																<form action="{% url 'posts:post-like' %}" method="post">
																	{% csrf_token %}
																<span class="like" data-toggle="tooltip" title="like">
																		<i class="ti-heart icon-custom"><button type="submit" class="btn-custom"></button></i>
																	<input type="hidden" name="post_id" value="{{ post.id }}">
																	<input type="hidden" name="feed" value="feed">
																	<ins>{{ post.liked.count }}</ins>
																</span>
																	</form>
															</li>
															<li>
																<form action="{% url 'posts:post-dislike' %}" method="post">
																	{% csrf_token %}
																<span class="dislike" data-toggle="tooltip" title="dislike">
																	<i class="ti-heart-broken icon-custom"><button type="submit" class="btn-custom"></button></i>
																	<input type="hidden" name="post_id" value="{{ post.id }}">
																	<input type="hidden" name="feed" value="feed">
																	<ins>{{ post.disliked.count }}</ins>
																</span>
																</form>
															</li>
															<li>
																<span class="comment" data-toggle="tooltip" title="Comments">
																	<i class="fa fa-comments-o"></i>
																	<ins>{{ post.comments.count }}</ins>
																</span>
															</li>
														</ul>
													</div>
													<div class="description">

														<p>
															{{ post.text }}
														</p>
													</div>
												</div>
											</div>
											<div class="coment-area">
												<ul class="we-comet">
													{% for comment in post.comments.all %}
													<li>
														<div class="comet-avatar">
															<img src="{{ comment.author.avatar.url }}" alt="">
														</div>
														<div class="we-comment">
															<div class="coment-head">
																<h5><a href="{{ comment.author.get_absolute_url }}" title="">{{ comment.author.first_name }} {{ comment.author.last_name }}</a></h5>
																<span>{{ comment.created_date }}</span>
																<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
																{% if request.user.profile == comment.author %}
																	<i class="bi bi-x-circle delete-com-g icon-custom">
																		<form action="{% url 'posts:comment-delete' %}" method="post">
																			{% csrf_token %}
																			<button type="submit" class="btn-custom"></button>
																			<input type="hidden" name="comment_id" value="{{ comment.id }}">
																			<input type="hidden" name="feed" value="feed">
																		</form>
																	</i>
																{% endif %}
															</div>
															<p>{{ comment.text }}</p>
														</div>
													</li>
													{% endfor %}
													<li>
														<a href="#" title="" class="showmore underline">more comments</a>
													</li>
													<li class="post-comment">
														<div class="comet-avatar">
															<img src="{{ profile.avatar.url }}" alt="">
														</div>
														<div class="post-comt-box">
															{% if request.user.is_authenticated %}
															<form action="{% url 'posts:comment-create' %}" method="post">
																{% csrf_token %}
																{{ form_comment.text }}
																<input type="hidden" name="post_id" value="{{ post.id }}">
																<input type="hidden" name="feed" value="feed">
																<button type="submit">Review</button>
															</form>
															{% endif %}
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
									{% endfor %}
								<div class="central-meta item">
									<div class="user-post">
										<div class="friend-info">
											<figure>
												<img src="images/resources/nearly6.jpg" alt="">
											</figure>
											<div class="friend-name">
												<ins><a href="time-line.html" title="">Sophia</a></ins>
												<span>published: january,5 2018 19:PM</span>
											</div>
											<div class="post-meta">
												<div class="post-map">
													<div class="nearby-map">
														<div id="map-canvas"></div>
													</div>
												</div><!-- near by map -->
												<div class="we-video-info">
													<ul>
														<li>
															<span class="views" data-toggle="tooltip" title="views">
																<i class="fa fa-eye"></i>
																<ins>1.2k</ins>
															</span>
														</li>
														<li>
															<span class="comment" data-toggle="tooltip" title="Comments">
																<i class="fa fa-comments-o"></i>
																<ins>52</ins>
															</span>
														</li>
														<li>
															<span class="like" data-toggle="tooltip" title="like">
																<i class="ti-heart"></i>
																<ins>2.2k</ins>
															</span>
														</li>
														<li>
															<span class="dislike" data-toggle="tooltip" title="dislike">
																<i class="ti-heart-broken"></i>
																<ins>200</ins>
															</span>
														</li>
														<li class="social-media">
															<div class="menu">
															  <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
																</div>
															  </div>
																<div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
																</div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
																</div>
															  </div>

															</div>
														</li>
													</ul>
												</div>
												<div class="description">

													<p>
														Curabitur Lonely Cat Enjoying in Summer <a href="#" title="">#mypage</a> ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
													</p>
												</div>
											</div>
										</div>
										<div class="coment-area">
											<ul class="we-comet">
												<li>
													<div class="comet-avatar">
														<img src="images/resources/comet-1.jpg" alt="">
													</div>
													<div class="we-comment">
														<div class="coment-head">
															<h5><a href="time-line.html" title="">Jason borne</a></h5>
															<span>1 year ago</span>
															<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
														</div>
														<p>we are working for the dance and sing songs. this video is very awesome for the youngster. please vote this video and like our channel</p>
													</div>

												</li>
												<li>
													<div class="comet-avatar">
														<img src="images/resources/comet-2.jpg" alt="">
													</div>
													<div class="we-comment">
														<div class="coment-head">
															<h5><a href="time-line.html" title="">Sophia</a></h5>
															<span>1 week ago</span>
															<a class="we-reply" href="#" title="Reply"><i class="fa fa-reply"></i></a>
														</div>
														<p>we are working for the dance and sing songs. this video is very awesome for the youngster.
															<i class="em em-smiley"></i>
														</p>
													</div>
												</li>
												<li>
													<a href="#" title="" class="showmore underline">more comments</a>
												</li>
												<li class="post-comment">
													<div class="comet-avatar">
														<img src="images/resources/comet-2.jpg" alt="">
													</div>
													<div class="post-comt-box">
														<form method="post">
															<textarea placeholder="Post your comment"></textarea>
															<div class="add-smiles">
																<span class="em em-expressionless" title="add icon"></span>
															</div>
															<div class="smiles-bunch">
																<i class="em em---1"></i>
																<i class="em em-smiley"></i>
																<i class="em em-anguished"></i>
																<i class="em em-laughing"></i>
																<i class="em em-angry"></i>
																<i class="em em-astonished"></i>
																<i class="em em-blush"></i>
																<i class="em em-disappointed"></i>
																<i class="em em-worried"></i>
																<i class="em em-kissing_heart"></i>
																<i class="em em-rage"></i>
																<i class="em em-stuck_out_tongue"></i>
															</div>
															<button type="submit"></button>
														</form>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="central-meta item">
									<div class="user-post">
										<div class="friend-info">
											<figure>
												<img alt="" src="images/resources/friend-avatar10.jpg">
											</figure>
											<div class="friend-name">
												<ins><a title="" href="time-line.html">Janice Griffith</a></ins>
												<span>published: june,2 2018 19:PM</span>
											</div>
											<div class="description">

													<p>
														Curabitur World's most beautiful car in <a title="" href="#">#test drive booking !</a> the most beatuiful car available in america and the saudia arabia, you can book your test drive by our official website
													</p>
												</div>
											<div class="post-meta">
												<div class="linked-image align-left">
													<a title="" href="#"><img alt="" src="images/resources/page1.jpg"></a>
												</div>
												<div class="detail">
													<span>Love Maid - ChillGroves</span>
													<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua... </p>
													<a title="" href="#">www.sample.com</a>
												</div>
												<div class="we-video-info">
													<ul>
														<li>
															<span class="views" data-toggle="tooltip" title="views">
																<i class="fa fa-eye"></i>
																<ins>1.2k</ins>
															</span>
														</li>
														<li>
															<span class="comment" data-toggle="tooltip" title="Comments">
																<i class="fa fa-comments-o"></i>
																<ins>52</ins>
															</span>
														</li>
														<li>
															<span class="like" data-toggle="tooltip" title="like">
																<i class="ti-heart"></i>
																<ins>2.2k</ins>
															</span>
														</li>
														<li>
															<span class="dislike" data-toggle="tooltip" title="dislike">
																<i class="ti-heart-broken"></i>
																<ins>200</ins>
															</span>
														</li>
														<li class="social-media">
															<div class="menu">
															  <div class="btn trigger"><i class="fa fa-share-alt"></i></div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-html5"></i></a></div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-facebook"></i></a></div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-google-plus"></i></a></div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-twitter"></i></a></div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-css3"></i></a></div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-instagram"></i></a>
																</div>
															  </div>
																<div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-dribbble"></i></a>
																</div>
															  </div>
															  <div class="rotater">
																<div class="btn btn-icon"><a href="#" title=""><i class="fa fa-pinterest"></i></a>
																</div>
															  </div>

															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								</div>
							</div><!-- centerl meta -->

							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget friend-list stick-widget">
										<h4 class="widget-title">Online Friends</h4>
										<div id="searchDir"></div>
										<ul id="people-list" class="friendz-list">
											{% for friend in profile.friends.all %}
											{% if friend.is_authenticated %}
											<li>
												<figure>
													<img src="{{ friend.profile.avatar.url }}" alt="">
													<span class="status f-online"></span>
												</figure>
												<div class="friendz-meta">
													<a href="time-line.html">{{ friend.profile.first_name }} {{ friend.profile.last_name }}</a>
													<i>@{{ friend.profile.slug }}</i>
												</div>
											</li>
											{% endif %}
											{% endfor %}
										</ul>
										<div class="chat-box">
											<div class="chat-head">
												<span class="status f-online"></span>
												<h6>Bucky Barnes</h6>
												<div class="more">
													<span><i class="ti-more-alt"></i></span>
													<span class="close-mesage"><i class="ti-close"></i></span>
												</div>
											</div>
											<div class="chat-list">
												<ul>
													<li class="me">
														<div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
													<li class="you">
														<div class="chat-thumb"><img src="images/resources/chatlist2.jpg" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
													<li class="me">
														<div class="chat-thumb"><img src="images/resources/chatlist1.jpg" alt=""></div>
														<div class="notification-event">
															<span class="chat-message-item">
																Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks
															</span>
															<span class="notification-date"><time datetime="2004-07-24T18:18" class="entry-date updated">Yesterday at 8:10pm</time></span>
														</div>
													</li>
												</ul>
												<form class="text-box">
													<textarea placeholder="Post enter to post..."></textarea>
													<div class="add-smiles">
														<span title="add icon" class="em em-expressionless"></span>
													</div>
													<div class="smiles-bunch">
														<i class="em em---1"></i>
														<i class="em em-smiley"></i>
														<i class="em em-anguished"></i>
														<i class="em em-laughing"></i>
														<i class="em em-angry"></i>
														<i class="em em-astonished"></i>
														<i class="em em-blush"></i>
														<i class="em em-disappointed"></i>
														<i class="em em-worried"></i>
														<i class="em em-kissing_heart"></i>
														<i class="em em-rage"></i>
														<i class="em em-stuck_out_tongue"></i>
													</div>
													<button type="submit"></button>
												</form>
											</div>
										</div>
									</div><!-- friends list sidebar -->
								</aside>
							</div><!-- sidebar -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}