{% extends 'base.html' %}

{% block title %}Search group{% endblock title %}

{% block content %}

<section>
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="row" id="page-contents">

						<div class="col-lg-3">
							<aside class="sidebar static">
								{% include 'shortcuts.html' %}
							</aside>
						</div><!-- sidebar -->

						<div class="col-lg-6">
							<div class="central-meta">
								<div class="groups">
									<span><i class="fa fa-users"></i> Search result</span>
								</div>
								<ul class="nearby-contct">
									{% for group in search_result %}
									<li>
										<div class="nearly-pepls">
											<figure>
												<a href="{{ group.get_absolute_url }}" title=""><img src="{{ group.avatar.url }}" alt=""></a>
											</figure>
											<div class="pepl-info">
												<h4><a href="{{ group.get_absolute_url }}" title="">{{ group.name }}</a></h4>
											</div>
										</div>
									</li>
									{% empty %}
									<h4 class="text-center">No result</h4>
									{% endfor %}
								</ul>
							</div><!-- photos -->
						</div><!-- centerl meta -->

						<div class="col-lg-3">
							<aside class="sidebar static">
								{% include 'profile/friends_sidebar.html' %}
							</aside>
						</div><!-- sidebar -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}